<!DOCTYPE html>
<html>
  <head>
    <link href="<%= cijoe_root %>/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <title><%= h(joe.project) %>: CI Joe</title>
  </head>
  <body>
    <div class="site">
      <div id="home">
        <ul class="posts">
          <% if joe.current_build %>
            <li>
              <span class="date"><%= pretty_time(joe.current_build.started_at) if joe.current_build %></span> &raquo;
              <% if joe.current_build.sha %>
                Building <a href="<%= joe.url %>/commits/<%= joe.current_build.sha %>"><%= joe.current_build.short_sha %></a> <small>(pid: <%= joe.pid %>)</small>
              <% else %>
                Build starting...
              <% end %>
            </li>
          <% else %>
            <li><form method="POST"><input type="submit" value="Build"/></form></li>
          <% end %>
          
          <% if joe.last_build %>
            <li><span class="date"><%= pretty_time(joe.last_build.finished_at) %></span> &raquo; Built <a href="<%= joe.url %>/commits/<%= joe.last_build.sha %>"><%= joe.last_build.short_sha %></a> <span class="<%= joe.last_build.status %>">(<%= joe.last_build.status %>)</span></li>
            <% if joe.last_build.failed? %>
              <li><pre class="terminal"><code><%=ansi_color_codes h(joe.last_build.output) %></code></pre></li>
            <% end %>
          <% end %>
        </ul>
      </div>
</html>
